.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolio span:nth-child(1) {
  font-size: 2rem;
  font-weight: bold;
  color: var(--black);
}
.portfolio span:nth-child(2) {
  font-size: 2.5rem;
  color: var(--orange);
  font-weight: bold;
}
.portfolio .swiper {
  overflow: visible !important;
}
.portfolio-slider {
  margin-top: 3rem;
  width: 100%;
}
.portfolio-slider .swiper-slide {
  width: 20rem;
}
.portfolio .swiper-pagination-bullet-active {
  background: var(--orange);
}
.portfolio img {
  width: 30rem;
  max-width: 100%;
  height: auto;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border: 20px;
}
.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: var(--white);
  transition: all 0.3s ease;
  margin-bottom: 3rem;
}
#Morechellenges {
  margin: 1.5rem;
}
#Morechellenges a {
  font-size: 1.3rem;
  font-weight: 600;
  font-style: italic;
  text-decoration: underline;
  color: var(--orange);
}

@media (max-width: 500px) {
  .portfolio {
    padding-right: 2rem;
  }
  .portfolio span:nth-child(1) {
    font-size: 1.5rem;
  }

  .portfolio span:nth-child(2) {
    font-size: 2rem;
  }

  .portfolio-slider {
    margin-top: 2rem;
  }

  .portfolio-slider .swiper-slide {
    width: 100%;
  }

  .portfolio img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  /* Adjust slidesPerView to 1 for mobile */
  .swiper-container:not(.swiper-container-initialized) .swiper-wrapper {
    display: flex !important;
    align-items: center;
  }

  .swiper-slide {
    flex: 0 0 auto !important;
    width: 100% !important;
    margin-right: 0 !important;
  }
}
@media screen and (max-width: 1000px) {
  .portfolio {
    margin-top: 6rem;
  }
}
